body { background: #260727; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-shipping-0 { color: #787a76; font-size: 19px; margin-bottom: 5px; }
.block-logger-1 { color: #34c752; font-size: 17px; margin-bottom: 5px; }
.block-product-2 { color: #ccd127; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #902f73; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #250ac3; font-size: 21px; margin-bottom: 5px; }
.block-email-5 { color: #63b41e; font-size: 20px; margin-bottom: 5px; }